<h1 class="title">PRP</h1>
<nav>
  <a [routerLinkActive]="['router-link-active']" [routerLink]="['/']">Home</a>
  <a [routerLinkActive]="['router-link-active']" [routerLink]="['/crisis-center']">Crisis Center</a>
  <a [routerLinkActive]="['router-link-active']" [routerLink]="['/heroes']">Heroes</a>
  <a [routerLinkActive]="['router-link-active']" [routerLink]="['/login']">Login</a>
  <a [routerLinkActive]="['router-link-active']" [routerLink]="['/crisis-center/admin']">Crisis Admin</a>
  <a [routerLinkActive]="['router-link-active']" [routerLink]="['/tabelao-center']">Tabelao Center</a>
  <a [routerLinkActive]="['router-link-active']" [routerLink]="['/tabelao-center/admin']">Tabelao Admin</a>
</nav>
<hr>

<router-outlet></router-outlet>
